<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1522869635100-9f4c5e86aa37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Looking for a film or tv show tonight?</h1>
    <h1>Search any series right here for ideas!</h1>
  </div>
</div>

<div class="container text-center">
<p><strong><em>Is there a film or TV series you're wanting to binge on for a few nights? Look no further, search below for any TV or movie series and you'll then be able to
read all about it just by clicking on it!</strong></em></p>
</div>

<div class="container text-center">
  <form id="search-movies" class="form-inline">
  <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Find series">
  <input type="submit" class="btn btn-danger mr-auto ml-2" value="Search">
  </form>

  <ul class="list-group list-group-horizontal" id="results"></ul>
</div>


